<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team3.ergency">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/key_google_maps_android" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/introScreens">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonalInformation"
            android:grantUriPermissions="true"
            android:label="Personal Information"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EmergencyContact"
            android:label="Emergency Contact"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Insurance"
            android:label="Insurance"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SkipScreen"
            android:label="Skip"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Allergies"
            android:label="Allergies"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PhysicianInfo"
            android:label="Physician Info"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Medications"
            android:label="Medications"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ChronicConditions"
            android:label="Chronic Conditions"/>
        <activity
            android:name=".SurgicalHistory"
            android:label="Surgical History"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Immunizations"
            android:label="Immunizations"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CongratsActivity"
            android:label="Congratulations" />
        <activity
            android:name=".HomepageActivity"
            android:label="ERgency"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LocationActivity"
            android:label="Find Your Nearest Hospitals"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".QuickRegistrationActivity"
            android:label="Quick Registration"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Confirmation"
            android:label="Confirmation"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>